@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 1s ease-out;
}

.open {
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -30%);
    transition: all 1s ease-out;
}

.headerXL {
   @apply xl:backdrop-blur-xl  xl:bg-slate-200/20   xl:shadow-2xl   xl:z-50
}